@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" />

<div class="container-fluid">
    <h1 class="text-center"><a class="text-white" href="">VideoPlayer</a></h1>

    <div class="main mt-3">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>