@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="2" />

<NavMenu />

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <SideMenu />
        </div>
        <div class="col-10">
            @Body
        </div>
    </div>
</div>