@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="2" />

<div class="grid grid-cols-[150px,1fr] grid-rows-[50px,1fr] h-screen">        
    <NavMenu />

    <main class="row-start-2 col-start-2 p-4">
        @Body
    </main>
</div>
