@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="2" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
