@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="2" />

<NavMenu />

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>