<div class="row-start-1 col-span-2 bg-sky-600 text-black">
    <nav class="flex flex-row gap-x-8 items-center h-full">
        <a class="ml-4 text-4xl" href="/">PeterPedia</a>

        <NavLink class="nav-link" href="Book" Match="NavLinkMatch.All">Books</NavLink>

        <NavLink class="nav-link" href="Episodes" Match="NavLinkMatch.All">Episodes</NavLink>

        <NavLink class="nav-link" href="movies" Match="NavLinkMatch.All">Movies</NavLink>
                
        <NavLink class="nav-link" href="RSS" Match="NavLinkMatch.All">RSS Reader</NavLink>

        <NavLink class="nav-link" href="videos" Match="NavLinkMatch.All">Videos</NavLink>       
    </nav>
</div>

<div class="row-start-2 col-start-1 bg-sky-900">
    <nav class="flex flex-col gap-y-4 pt-4 pl-4">
        @foreach (var item in Items)
        {
            <NavLink class="nav-link" href="@item.Url" Match="NavLinkMatch.All">@item.Text</NavLink>    
        }
    </nav>
</div>