.page-menu .nav-link {
    color: black;
    padding: 0.5rem 1rem 0.5rem 0rem;
}

.page-menu .nav-link.active {
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    background-color: transparent;
}
