@page "/library/authors"

<LibraryMeny></LibraryMeny>

<h4>Authors</h4>

<div class="d-flex mb-2">
  <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" placeholder="Filter">
</div>
      
<ul class="list-group">
  @foreach (Author author in AuthorList)
  {
      <li class="list-group-item" role="button" @onclick="() => OpenAuthor(author)">@author.Name [<small>@author.DateOfBirth.ToString("dd MMM yyyy")</small>]</li>
  }
</ul>
