<nav class="nav nav-pills page-menu">
  <NavLink class="nav-link" href="library" Match="NavLinkMatch.All">Reading list</NavLink>
  <NavLink class="nav-link" href="/library/authors" Match="NavLinkMatch.All">Authors</NavLink>    
  <NavLink class="nav-link" href="/library/book/0" Match="NavLinkMatch.All">Add book</NavLink>
  <NavLink class="nav-link" href="/library/author/1" Match="NavLinkMatch.All">Add author</NavLink>
  <NavLink class="nav-link" href="/library/books/all" Match="NavLinkMatch.All">All books</NavLink>
</nav>
