@page "/player/{id:int}"

@if (Video is null)
{
    <h1>Video not found</h1>
}
else
{
    <h3>@Video.Title</h3>
    <h5>Duration: @Video.Duration.ToString(@"hh\:mm\:ss")</h5>

    <div class="row">
        <video class="w-50 ratio ratio-16x9" controls>
            <source src="@Video.Url" type="@Video.Type">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-danger mt-2" @onclick="Delete">Remove</button>
        </div>

    </div>
}