@page "/videos"

<h2>Videos</h2>

@if (VideoList == null)
{
    <p><em>Loading...</em></p>
}
else if (VideoList.Count() == 0)
{
    <p>Nothing to watch, add some new movies!</p>
}
else
{
    <PPTable Items="VideoList" Context="video" 
        SearchEnabled="true" OnSearch="@FilterVideos"
        PaginationEnabled="true" PageSize="20">
        <TableHeader>
            <th>Title</th>
            <th>Duration</th>
        </TableHeader>
        <RowTemplate>
            <td><a href="videos/player/@video.Id">@video.Title</a></td>
            <td>@video.Duration.ToString(@"hh\:mm\:ss")</td>
        </RowTemplate>
    </PPTable>
}