@page "/videos"

<table class="table-dark">
    <thead>
        <tr>
            <th class="col-10">Title</th>
            <th class="col-2">Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Videos)
        {
            <tr>
                <td><a href="videos/player/@item.Id">@item.Title</a></td>
                <td>@item.Duration.ToString(@"hh\:mm\:ss")</td>
            </tr>
        }
    </tbody>
</table>