@page "/add"
@attribute [Authorize(Roles = "admin")]

<EpisodesTitle Text="Add tv show" />

<EditForm Model="@TVShow" OnValidSubmit="@AddAsync" class="flex flex-col mt-2">
    <DataAnnotationsValidator />

    <div class="flex flex-col gap-2">
        <label for="add">TheMovieDb url</label>
        <InputText id="add" @ref="Input" class="form-control" @bind-Value="@TVShow.Url" bind-Value:event="OnInput"></InputText>
        <div class="text-red-500">
            <ValidationMessage For="() => TVShow.Url" />
        </div>
    </div>
    <div>
      <EpisodesButton Classes="btn-success" Type="ButtonType.Submit" IsTaskRunning=@IsTaskRunning Text="Add" ActionText="Adding..." />
    </div>
</EditForm>
