@page "/"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Episodes</h4>

@if (Loading)
{
    <Spinner Text="Loading..." />
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
        @foreach (TVShow show in ShowList)
        {
      <div class="show me-2 position-relative" role="button" @onclick="() => OpenShow(show)">
        <span class="badge rounded-pill bg-primary position-absolute episode-count">@show.UnwatchedEpisodeCount</span>
        <img src="/api/image/@($"{show.Id}.jpg")" class="show-poster" alt="@show.Title">
      </div>
        }
    </div>
}
