@page "/search"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Search</h4>

<div class="mb-3">
    <label for="search" class="form-label">Search tv shows by title, can use wildcards using % like, %love%.</label>
    <input id="search" type="text" @ref="Input" class="form-control" @bind="Filter" @bind:event="oninput" @onkeydown="InputKeyDownAsync" placeholder="Filter">
</div>


@if (Searching)
{
    <Spinner Text="Searching..." />
}
else
{
    if (ShowList.Length == 0)
    {
        <h5>No tv show found!</h5>
    }
    else
    {
        <ul class="list-group">
            @foreach (TVShow show in ShowList)
            {
                <li class="list-group-item" role="button" @onclick="() => OpenShow(show)">
                    @show.Title - @show.Status - @show.UnwatchedEpisodeCount of @show.EpisodeCount
                </li>
            }
        </ul>
    }
}

