@page "/search"
@attribute [Authorize(Roles = "admin")]

<EpisodesTitle Text="Search" />

<div class="flex flex-col">
    <label for="search">Search tv shows by title, can use wildcards using % like, %love%.</label>
    <input id="search" type="text" @ref="Input" class="form-input bg-black rounded-lg" @bind="Filter" @bind:event="oninput" @onkeydown="InputKeyDownAsync" placeholder="Filter">
</div>

@if (Searching)
{
    <LoadingIndicator Text="Searching..." />
}
else
{
    if (ShowList.Length == 0)
    {
        <div class="mt-2 text-lg">No tv show found!</div>
    }
    else
    {
        <div class="mt-2 flex flex-col gap-2">
            @foreach (TVShow show in ShowList)
            {
                <div class="bg-slate-400 mb-2 rounded-lg text-black">
                    <a href="/edit/@show.Id" class="p-2">@show.Title - @show.Status - @show.UnwatchedEpisodeCount of @show.EpisodeCount</a>
                </div>
            }
        </div>
    }
}

