<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Library</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="admin">
    <Authorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Current books</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/book/0" Match="NavLinkMatch.All">Add book</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/search" Match="NavLinkMatch.All">Search</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/.auth/logout" Match="NavLinkMatch.All">Log out</NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/.auth/logout" Match="NavLinkMatch.All">Log out</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
