<div class="vw-50">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input id="add-subscription" class="form-control w-100" @bind="NewSubscriptionUrl" @bind:event="oninput" @onkeydown="InputKeyDownAsync" autofocus />
                <label for="add-subscription">URL to subscription</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="d-flex">
                <button type="button" class="btn btn-success" @onclick="AddAsync" disabled=@IsTaskRunning>Add</button>
                <button type="button" class="btn btn-secondary ms-2" @onclick="CloseAsync">Cancel</button>
            </div>
        </div>
    </div>
</div>
