<EditForm class="form" Model="@EditSubscription" OnValidSubmit="@SaveAsync">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="form-floating">
                <InputText id="title" class="form-control" @bind-Value="EditSubscription.Title"></InputText>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="form-floating">
                <InputText id="group" class="form-control" @bind-Value="EditSubscription.Group" />
                <label for="group">Original title</label>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="form-floating">                
                <InputNumber id="movie-original-language" class="form-control" @bind-Value="EditSubscription.UpdateIntervalMinute" />
                <label for="movie-language">Original language</label>
            </div>
        </div>      
    </div>    
    <div class="row">
        <div class="d-flex">
            <button type="submit" class="btn btn-success" disabled=@IsTaskRunning>Save</button>
            <button type="button" class="btn btn-danger ms-2" @onclick="DeleteAsync" disabled="@IsTaskRunning">Delete</button>
            <button type="button" class="btn btn-secondary ms-2" @onclick="CloseAsync">Cancel</button>
        </div>
    </div>
</EditForm>
