@page "/reader/history"

<h2>Read articles</h2>

@if (Articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table Items="Articles" Context="article" 
        SearchEnabled="true" OnSearch="@FilterArticles"
        PaginationEnabled="true" PageSize="20">
        <TableHeader>
            <th>Title</th>
            <th>Read</th>
        </TableHeader>
        <RowTemplate>
            <td><a href="@article.Url" class="text-white" target="_blank">@article.Title</a></td>
            <td>@article.ReadDate?.ToString("d MMM yyyy HH:mm:ss")</td>
        </RowTemplate>
    </Table>
}
