@page "/reader/subscriptions"

<h4 class="mt-2">Subscriptions</h4>
<div class="d-flex mb-2">
    <button class="btn btn-success flex-shrink-0 me-2" @onclick="AddSubscription">Add subscription</button>
    <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" placeholder="Filter">
</div>

<ul class="list-group mt-2">
    @foreach (Subscription subscription in SubscriptionList)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="link-dark" href="javascript:void(0)" @onclick="() => EditSubscription(subscription)">@subscription.Title</a>
            <span class="badge bg-primary rounded-pill">@subscription.LastUpdate.ToString(@"d MMM yyyy HH:mm:ss")</span>
        </li>
    }
</ul>
