@page "/reader/subscriptions"

<h2>Subscriptions</h2>

@if (SubscriptionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableTemplate Items="SubscriptionList" Context="subscription" 
        SearchEnabled="true" OnSearch="@FilterSubscription"
        PaginationEnabled="true" PageSize="20">
        <TableHeader>
            <th>Title</th>
            <th>Link</th>
            <th>Last update</th>
            <th></th>
        </TableHeader>
        <RowTemplate>
            <td>@subscription.Title</td>
            <td>@subscription.Url</td>
            <td>@subscription.LastUpdate.ToLocalTime().ToString("d MMM yyyy HH:mm:ss")</td>
            <td>
                <a class="link-success" href="subscription/edit/@subscription.Id">Edit</a>
                <a class="link-danger ml-2" href="subscription/delete/@subscription.Id">Delete</a>
            </td>
        </RowTemplate>
    </TableTemplate>
}