@inherits LayoutComponentBase

<div class="container-fluid">
    <NavMenu />

    <div class="main mt-3">
        <Toasts Position=ToastPosition.TopRight></Toasts>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
