<Dialog Id="@Id" Title="Delete show">
    <Body>
        @if (Show is null)
        {
            <p>No show to delete...</p>        
        }
        else
        {
            <p class="text-danger">Do you really want to delete this show? This action cannot be undone.</p>
            <p>
                Title: <span class="font-bold">@Show.Title</span>
            </P>                 
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" @onclick="Cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="Delete" disabled=@IsTaskRunning>Delete</button>
    </Footer>
</Dialog>