@page "/episodes/show/{id:int}"

@if (Show != null)
{
    <h2>@Show.Title</h2>

    <p>Status: @Show.Status</p>

    @foreach (var season in Show.Seasons.OrderBy(s => s.SeasonNumber))
    {
        if (!season.IsAllWatched && (season.Episodes.Count > 0))
        {
            <SeasonView Show="@Show" Season="@season" DisplayAllEpisodes="false"></SeasonView>
        }
    }
}
else
{
    <h2>Loading show...</h2>
}