#blazor-error-ui {
    display: none;
}

.modal-content {
    background-color: #f7fafc;
}

.toast-container {
    z-index: 9999999;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
