<div class="items-center flex justify-between border-b border-b-gray-600 p-2">
    <span class="truncate">@($"{Episode.EpisodeNumber} - {Episode.Title} - {Episode.AirDate?.ToString("MMM d, yyyy")}")</span>

    <EpisodesButton Classes="btn-other" Text="@(Episode.Watched ? "Not watched": "Watched")" ActionText="Updating" OnClickCallback="async () => await ToggleStateAsync()" />
</div>
