@if (ShowAll || !Season.IsAllWatched)
{
    <div class="mb-2 pb-2">
        <div class="flex items-center justify-between">
            <span>Season @Season.SeasonNumber</span>

            <EpisodesButton Classes="btn-primary" Text="@(Season.IsAllWatched ? "Not watched": "Watched")" ActionText="Updating" OnClickCallback="async () => await ToggleStateAsync()" />
        </div>

        @if (IsTaskRunning)
        {
            <div class="text-lg mt-2">Processing season...</div>
        }
        else
        {
            <div class="mt-2 flex flex-col gap-2">
                @foreach (var episode in Season.Episodes.OrderBy(e => e.EpisodeNumber))
                {
                    @if (ShowAll)
                    {
                        <EpisodeView TVShow="TVShow" Episode="episode" />
                    }
                    else if ((episode.Watched == false) && (episode.AirDate != null) && (episode.AirDate <= DateTime.UtcNow))
                    {
                        <EpisodeView TVShow="TVShow" Episode="episode" />
                    }
                }
            </div>
        }
    </div>
}
