@page "/"

<h2>Currently reading</h2>

<div class="card-group">
    <div class="row">
        @foreach (var book in BookList)
        {
            <BookView Book=@book ReturnUrl=""></BookView>
        }
    </div>
</div>