<div class="container bg-blue-400 min-w-full h-12">
    <div class="flex flex-row gap-2 justify-center items-center pt-1">
        <NavLink class="btn btn-blue " href="" Match="NavLinkMatch.All">
            Read later
        </NavLink>
        <NavLink class="btn btn-blue" href="bookmarks">
            Bookmarks
        </NavLink>
    </div>
</div>