@page "/movies/add"

<h1 class="text-4xl">Add movie</h1>

<EditForm class="container" EditContext="@AddContext" OnSubmit="@(async () => await AddMovie())">
    <div class="flex">
        <input id="search" class="w-1/2" @ref="Input" @bind-value="MovieUrl" placeholder="TheMovieDb id or URL" autofocus />

        <button type="submit" class="ml-2 btn btn-green" disabled=@IsTaskRunning>Add movie</button>
    </div>    
</EditForm>