@page "/movies/"

<h1 class="text-4xl">Watchlist</h1>

@if (Movies == null)
{
    <p><em>Loading...</em></p>
}
else if (Movies.Count == 0)
{
    <p>Nothing to watch, add some new movies!</p>
}
else
{
    <MovieTable Movies="@Movies" ReturnUrl=""></MovieTable>
}