@if ((Movies is null) || (Movies.Count == 0))
{
    <p>Start by adding some movies.</p>
}
else
{
    <table class="mt-5 min-w-full divide-y divide-gray-200">
    <thead class="bg-slate-900">
        <tr>
            <th class="text-left">Title</th>
            <th class="text-left">Original title</th>
            <th class="text-left">Original language</th>
            <th class="text-left">Runtime</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-slate-700 divide-y divide-gray-200">
        @foreach (var movie in Movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.OriginalLanguage</td>
                    <td>@movie.OriginalLanguage</td>
                    <td>@movie.RunTime</td>
                    <td>
                        <a href="movies/edit/@movie.Id/@ReturnUrl">Edit</a>
                        <a class="ml-2" href="movies/delete/@movie.Id/@ReturnUrl">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
