#blazor-error-ui {
    bottom: 0;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: none;
}

.book {
    max-width: 400px;
    min-width: 400px;
}

.blazored-typeahead__result {
    color: #000;
}

.blazored-typeahead__notfound {
    color: #000;
}

.blazored-typeahead__input-icon {
    background-color: #fff;
    color: #000;
}