@page "/history"
@attribute [Authorize(Roles = "admin")]

<Title Text="History" />

@if (Loading)
{
    <LoadingIndicator Text="Loading..." />
}
else
{
    <div class="flex flex-col gap-2 mt-2">
        @foreach (HistoryArticle article in Articles)
        {
            <a href="@article.Url" class="underline">@article.Title - @article.ReadDate.ToString("d MMM yyyy HH:mm:ss")</a>
        }
    </div>
}
