@page "/history"
@attribute [Authorize(Roles = "admin")]

<ReaderTitle Text="History" />

@if (Loading)
{
    <LoadingIndicator Text="Loading..." />
}
else
{
    <div class="mt-2 flex flex-col">
        @foreach (HistoryArticle article in Articles)
        {
            <div class="bg-slate-400 mb-2 rounded-lg text-black">
                <a href="@article.Url" class="p-2">@article.Title - @article.ReadDate.ToString("d MMM yyyy HH:mm:ss")</a>
            </div>
        }
    </div>
}
