@page "/"
@attribute [Authorize(Roles = "admin")]

<Title Text="Unread articles" />

@if (Loading)
{
    <LoadingIndicator Text="Loading..." />
}
else
{
    if (UnreadArticles.Length > 0)
    {
        <ul class="mt-2 text-black">
            @foreach (var unread in UnreadArticles)
            {
                if (unread.Items.Count > 0)
                {
                  <li class="bg-slate-400 mb-2 rounded-lg">
                    <a href="/view/@unread.Group" class="p-2 flex justify-between">
                      <span>@unread.Group</span>
                      <span class="bg-blue-700 px-2 rounded text-white">@unread.Items.Count</span>
                    </a>
                  </li>
                }
            }
        </ul>
    }
    else
    {
        <div class="text-lg">
            No more items to read
        </div>
    }
}
