@page "/subscriptions"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Subscriptions</h4>

@if (Loading)
{
    <Spinner Text="Loading..." />
}
else
{
    <ul class="list-group mt-2">
        @foreach (Subscription subscription in SubscriptionList)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="link-dark" href="/edit/@subscription.Id">@subscription.Title</a>
            </li>
        }
    </ul>
}
