@page "/subscriptions"
@attribute [Authorize(Roles = "admin")]

<Title Text="Subscriptions" />

@if (Loading)
{
    <LoadingIndicator Text="Loading..." />
}
else
{
    <div class="flex flex-col gap-2 mt-2">
        @foreach (Subscription subscription in SubscriptionList)
        {
            <a class="flex justify-between" href="/subscriptions/edit/@subscription.Id">
                <span>@subscription.Title</span>
                <span class="flex gap-1">
                    <span>Last: @subscription.LastUpdated?.ToString("d MMM yyyy HH:mm")</span>
                    <span>Next: @subscription.NextUpdate.ToString("d MMM yyyy HH:mm")</span>
                </span>
            </a>
        }
    </div>
}
