@page "/subscriptions"
@attribute [Authorize(Roles = "admin")]

<Title Text="Subscriptions" />

@if (Loading)
{
    <LoadingIndicator Text="Loading..." />
}
else
{
    <div class="mt-2 flex flex-col">
        @foreach (Subscription subscription in SubscriptionList)
        {
            <div class="bg-slate-400 mb-2 rounded-lg text-black">
                <a class="p-2 flex justify-between" href="/subscriptions/edit/@subscription.Id">
                    <span>@subscription.Title</span>
                    <span class="flex gap-1">
                        <span>Last: @subscription.LastUpdated?.ToString("d MMM yyyy HH:mm")</span>
                        <span>Next: @subscription.NextUpdate.ToString("d MMM yyyy HH:mm")</span>
                    </span>
                </a>
            </div>
        }
    </div>
}
