<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Title</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (Items is not null)
                {
                    foreach (var item in Items)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="@item.Url" Match="NavLinkMatch.All">
                                <Icon ShowIcon="@item.IconType"></Icon> @item.Display
                            </NavLink>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public IList<MenuItem> Items { get; set; } = null!;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}