<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/android-chrome-192x192.png" alt="" width="auto" height="24">
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-view-list"></i> Watchlist
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="movies">
                        <i class="bi bi-film"></i> All movies
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="add">
                        <i class="bi bi-plus-circle"></i> Add movie
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="statistics">
                        <i class="bi bi-graph-up"></i> Statistics
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
