<nav class="nav nav-pills page-menu">
  <NavLink class="nav-link" href="/tv" Match="NavLinkMatch.All">Watchlist</NavLink>
  <NavLink class="nav-link" href="/tv/new" Match="NavLinkMatch.All">Latest episodes</NavLink>
  <NavLink class="nav-link" href="/tv/add" Match="NavLinkMatch.All">Add TV show</NavLink>
  <NavLink class="nav-link" href="/tv/all" Match="NavLinkMatch.All">All TV shows</NavLink>  
</nav>
