@page "/tv/new"

<EpisodesMeny></EpisodesMeny>

<h4 class="mt-2">New episodes</h4>

<div class="row">
    <ul class="list-group list-group-flush">
        @foreach (Episode episode in Episodes)
        {
            <li class="list-group-item">@($"{episode.ShowTitle} S{episode.SeasonNumber:D2}E{episode.EpisodeNumber:D2} - {episode.Title} - {episode.AirDate:MMM d, yyyy}")</li>
        }
    </ul>
</div>
