@page "/videos"

<h4 class="mt-2">Videos</h4>
<div class="d-flex mb-2">
    <button class="btn btn-primary flex-shrink-0 me-2" @onclick="ToggleOrder">
        @if (OrderByDuration)
        {
            <span>Order by title</span>
        }
        else
        {
            <span>Order by duration</span>
        }
    </button>
    <button class="btn btn-secondary flex-shrink-0 me-2" @onclick="ToggleDescending">
        @if (SortDescending)
        {
            <span>Descending</span>
        }
        else
        {
            <span>Ascending</span>
        }
    </button>
    <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" placeholder="Filter">
</div>

<div class="row">
    <div class="col">
        <ul class="list-group mt-2">
            @foreach (Video video in VideoList)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="link-dark video-link" href="videos/player/@video.Id">@video.Title</a>
                    <span class="badge bg-primary rounded-pill">@video.Duration.ToString(@"hh\:mm\:ss")</span>
                </li>
            }
        </ul>
    </div>
</div>
