@if ((Movies is null) || (Movies.Count == 0))
{
    <p>Start by adding some movies.</p>
}
else
{
    <table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Original title</th>
            <th>Original language</th>
            <th>Runtime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.OriginalLanguage</td>
                    <td>@movie.OriginalLanguage</td>
                    <td>@movie.RunTime</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="edit/@movie.Id/@ReturnUrl"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-danger btn-sm ml-2" href="delete/@movie.Id/@ReturnUrl"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
