@page "/statistics"

<h2>Statistics</h2>

<div class="col col-sm col-md-10 col-lg-8 col-xl-6 col-xxl-4">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>State</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Watchlist</th>
                <td>@Watchlist</td>
            </tr>
            <tr>
                <th>Watched</th>
                <td>@Watched</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td>@Total</td>
            </tr>
        </tfoot>
    </table>
</div>