@page "/movies/"

<h4 class="mt-2">Movies</h4>

<div class="d-flex mb-2">
    <a class="btn btn-success flex-shrink-0 me-2" href="/movies/add">Add movie</a>
    <a class="btn btn-primary flex-shrink-0 me-2" href="/movies/all">All movies</a>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    @foreach (Movie movie in MovieList)
    {
        <MovieView Movie="@movie" />
    }
</div>
