@using Microsoft.AspNetCore.Components.Web
@namespace PeterPedia.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/peterpedia.min.css" rel="stylesheet" />
    <link href="PeterPedia.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <link rel="apple-touch-icon" sizes="512x512" href="android-chrome-512x512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="android-chrome-192x192.png" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui" class="fixed-bottom">
      <div class="alert alert-danger" role="alert">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
      </div>
    </div>    

    <script src="_framework/blazor.server.js"></script>    
</body>
</html>
