@page "/logs"

<h4 class="mt-2">Log files</h4>

<ul class="list-group">
@foreach (LogFile file in Files)
{
    <li class="list-group-item">
      <a href="@file.Url" target="_blank">@file.FileName</a>
    </li>
}
</ul>
