@page "/statistics"

<h2>Statistics</h2>

<div class="col col-sm col-md-10 col-lg-8 col-xl-6 col-xxl-4">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Watched episodes</th>
                <td>@WatchedEpisodes</td>
            </tr>
            <tr>
                <th>Unwatched episodes</th>
                <td>@UnwatchedEpisodes</td>
            </tr>
            <tr>
                <th>TV shows</th>
                <td>@TVShows</td>
            </tr>
        </tbody>
    </table>
</div>