@page "/books/authors" 

<h4 class="mt-2">Authors</h4>

<div class="d-flex">
  <a class="btn btn-primary flex-shrink-0 me-2" href="/books">Books</a>
  <a class="btn btn-success flex-shrink-0 me-2" href="/books/author/1">Add author</a>
  <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" placeholder="Filter">
</div>
      
<div class="row row-cols-1 row-cols-md-4 g-4 mt-2">  
  @foreach (Author author in AuthorList)
  {
    <div class="col">
      <div class="card" @onclick="() => SelectAuthor(author)">
        <div class="card-body">
          @author.Name [<small>@author.DateOfBirth.ToString("dd MMM yyyy")</small>] 
        </div>
      </div>
    </div>
  }
</div>
