@page "/books"

<h4 class="mt-2">Books</h4>
<div class="d-flex mb-2">
  <a class="btn btn-success flex-shrink-0 me-2" href="/book/0">Add book</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/books/authors">Manage authors</a>
  <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" placeholder="Filter">
</div>
     
@if (string.IsNullOrWhiteSpace(Filter))
{
  <h5>Reading</h5>
  <div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
    @foreach (Book book in Reading)
    {
      <BookView Book="@book" />      
    }
  </div>

  <h5>To be read</h5>
  <div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
    @foreach (Book book in ToBeRead)
    {
      <BookView Book="@book" />      
    }
  </div>
}
else
{
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    @foreach (Book book in AllBooks)
    {
      <BookView Book="@book" />      
    }
  </div>
}
