@page "/subscription/add"

<h2>Add subscription</h2>

<EditForm class="row align-items-center" EditContext="@AddContext" OnSubmit="@(async () => await AddSubscription())">
    <div class="mb-3">
        <label for="search">URL to subscription</label>
        <InputText id="search" class="form-control flex-grow-1" @bind-Value="NewSubscriptionUrl" placeholder="URL to subscription" />
    </div>

    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-success" disabled=@IsTaskRunning>Add</button>
        </div>
    </div>
</EditForm>