<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PeterPedia</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library" Match="NavLinkMatch.Prefix">Library</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reader" Match="NavLinkMatch.Prefix">Reader</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tv" Match="NavLinkMatch.Prefix">TV Shows</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
