@page "/episodes/all"

<h4 class="mt-2">All shows</h4>

<div class="d-flex mb-2">
    <a class="btn btn-primary flex-shrink-0 me-2" href="/episodes">Watchlist</a>
    <input type="text" class="form-control" @bind="Filter" @bind:event="oninput" @onkeydown="InputKeyDown" placeholder="Filter">
</div>

@if (NotFound)
{
    <h5>No show found!</h5>
}
else if (FilterShowList.Count > 0)
{
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        @foreach (Show show in FilterShowList)
        {
            <ShowView Show="@show" />
        }
    </div>
}
else
{
      <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        @foreach (Show show in ShowList)
        {
            <ShowView Show="@show" />
        }
    </div>
}
