@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" />

<div class="flex flex-col">
    <div class="flex-auto">
        <div class="flex justify-center items-center">
            <h1 class="text-4xl">Reading list</h1>
        </div>        
    </div>
    <div class="flex-grow">@Body</div>
</div>
