@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" />

<div class="container-fluid">
    <NavMenu />

    <div class="main mt-3">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>