@page "/economy"

<h4 class="mt-2">Economy</h4>
<div class="d-flex mb-2">
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/import">Import transactions</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/transactions">View transactions</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/category">Manage categories</a>
</div>


<h1>TODO: Filter for period</h1>

<h1>TODO: Graph and transaction for selected period</h1>
