@page "/economy/import"

<h4 class="mt-2">Import transaction</h4>
<div class="d-flex mb-2">
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy">Overview</a>
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/transactions">View transactions</a>
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/category">Manage categories</a>
</div>

<div class="mb-3">
    <label for="account">Account type</label>
    <select class="form-select" id="account" @bind="@AccountType">
        <option value="0">Select account</option>
        @foreach (var type in AccountTypes)
        {
            <option value="@type">@type</option>
        }
    </select>
</div>
<div class="mb-3">
    <label for="file">Files</label>
    <InputFile class="form-control" type="file" id="file" OnChange="@LoadFiles" multiple />
</div>
<div class="mb-3">
    <button type="button" class="btn btn-success" @onclick="UploadAsync">Upload file</button>
</div>

<h1>TODO: Show import errors?</h1>

