@page "/economy/import"

<h4 class="mt-2">Import transaction</h4>
<div class="d-flex mb-2">
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy">Overview</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/transactions">View transactions</a>
  <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/category">Manage categories</a>
</div>


<h1>TODO: Import files</h1>
