@page "/economy/transactions"

<h4 class="mt-2">Transactions</h4>
<div class="d-flex mb-2">
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy">Overview</a>
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/import">Import transactions</a>
    <a class="btn btn-primary flex-shrink-0 me-2" href="/economy/category">Manage categories</a>
</div>

<div class="mb-2">
    <EditForm Model="@Search" OnSubmit="@FetchTransactionsAsync">
        <div class="row">
            <label class="col-1 col-form-label" for="start-date">Start date</label>
            <div class="col-2">
                <InputDate id="start-date" class="form-control" @bind-Value="Search.StartDate"></InputDate>
            </div>

            <label class="col-1 col-form-label" for="end-date">End date</label>
            <div class="col-2">
               <InputDate id="end-date" class="form-control" @bind-Value="Search.EndDate"></InputDate>
            </div>

            <div class="col">
                <button class="btn btn-success my-auto" type="submit">Show</button>
            </div>
        </div>
    </EditForm>
</div>

@foreach (Transaction transaction in Transactions)
{
    <TransactionView Categories="@Categories" Transaction="transaction"></TransactionView>
}
