@page "/add"
@attribute [Authorize(Roles = "admin")]

<h4 class="mt-2">Add tv show</h4>

<EditForm class="form" Model="@TVShow" OnValidSubmit="@AddAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating">
        <InputText id="add-movie" @ref="Input" class="form-control" type="text" @bind-Value="@TVShow.Url" bind-Value:event="OnInput"></InputText>
        <label for="add-movie">TheMovieDb id or URL</label>
    </div>
    <div class="mt-2 mb-3">
        <SpinnerButton Type="submit" Class="ms-2 btn btn-success" IsTaskRunning="@IsTaskRunning" Text="Add" ActionText="Adding..." />
    </div>
</EditForm>
