@page
@model PeterPedia.Server.Pages.IndexModel

<div class="grid grid-flow-col auto-cols-max gap-4">
    @foreach (var link in Model.Links)
    {
        <a class="text-xl hover:underline" href="@link.Url">@link.Title</a>
    }
</div>