@page
@model PeterPedia.Server.Pages.IndexModel

<div class="flex flex-col divide-y-2 divide-gray-500 divide-solid mx-auto">
    <h1 class="text-4xl">PeterPedia</h1>
    <a href="/Book">Book</a>
    <a href="/Bookmark">Bookmark</a>
    <a href="/Episodes">Episodes</a>
    <a href="/Movie">Movies</a>
    <a href="/Reader">Reader</a>
</div>
