@page
@model PeterPedia.Server.Pages.IndexModel

<div class="flex flex-col divide-y-2 divide-gray-500 divide-solid mx-auto">
    <h1 class="text-6xl">PeterPedia</h1>
    <a href="/Book" class="app-link">Book tracking</a>
    <a href="/Movie" class="app-link">Movie tracking</a>
    <a href="/Reader" class="app-link">RSS Reader</a>
    <a href="/ReadList" class="app-link">Read later list</a>
    <a href="/Episodes" class="app-link">TV Episodes</a>
    <a href="/VideoPlayer" class="app-link">Videos</a>
    <a href="/swagger" class="app-link">API</a>
</div>
